:root {
    /* 图标背景 */
    /* 设置线性渐变 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    /* 设置模糊度 */
    --vp-home-hero-image-filter: blur(80px);
}

// 组件配置
$hy-form-item-height: 70rpx;

// 主颜色
$hy-main-color: #01beff;
$hy-main-orange: #fbbd12;
$hy-embellished-green: #00ffc6;
$hy-embellished-yellow: #fff00d;
$hy-auxiliary-powder: #ff71d2;
$hy-auxiliary-blue: #82b2ff;
$hy-bg-color: #ffffff;
$hy-space-color: #f8f7f8;

// 边框颜色
$hy-border-solid-color: rgba(0, 0, 0, 0.1);
$hy-border-solids-color: #eee;
$hy-border-dashed-color: #ddd;

// 阴影颜色
$hy-shadow-color: rgba(0, 0, 0, 0.1);
$hy-box-shadow-color: rgba(0, 0, 0, 0.2);

// 字体颜色
$hy-font-color: #080808;
$hy-font-sub-color: #aaaaaa;
$hy-content-color: #838383;
$hy-font-holder-color: #e6e6e6;

$hy-mask-bg-color: rgba(0, 0, 0, 0.4);

$hy-progress-bg-color: #f0f0f0;

$hy-color-red: #e83a30;
$hy-color-red-dark: #ba2e26;
$hy-color-red-disabled: #f39c97;
$hy-color-red-light: #fad8d6;

$hy-color-purplered: #e72f8c;
$hy-color-purplered-dark: #b9276f;
$hy-color-purplered-disabled: #f397c5;
$hy-color-purplered-light: #fad5e8;

$hy-color-purple: #892fe8;
$hy-color-purple-dark: #6e27ba;
$hy-color-purple-disabled: #c497f3;
$hy-color-purple-light: #e7d5fa;

$hy-color-bluepurple: #5f4fd9;
$hy-color-bluepurple-dark: #4c3fae;
$hy-color-bluepurple-disabled: #afa7ec;
$hy-color-bluepurple-light: #dfdcf7;

$hy-color-aquablue: #3646ff;
$hy-color-aquablue-dark: #2b38cc;
$hy-color-aquablue-disabled: #9aa2ff;
$hy-color-aquablue-light: #d7daff;

$hy-color-blue: #3d7eff;
$hy-color-blue-dark: #3465cc;
$hy-color-blue-disabled: #9ebeff;
$hy-color-blue-light: #d8e5ff;

$hy-color-indigo: #31c9e8;
$hy-color-indigo-dark: #28a1ba;
$hy-color-indigo-disabled: #98e4f3;
$hy-color-indigo-light: #d6f4fa;

$hy-color-cyan: #2de88d;
$hy-color-cyan-dark: #24ba97;
$hy-color-cyan-disabled: #96f3de;
$hy-color-cyan-light: #d5faf2;

$hy-color-teal: #24f083;
$hy-color-teal-dark: #1dc069;
$hy-color-teal-disabled: #91f7c1;
$hy-color-teal-light: #d3fce6;

$hy-color-green: #31e749;
$hy-color-green-dark: #28b93d;
$hy-color-green-disabled: #98f3a4;
$hy-color-green-light: #d6fadb;

$hy-color-yellowgreen: #a4e82f;
$hy-color-yellowgreen-dark: #82ba27;
$hy-color-yellowgreen-disabled: #d1f397;
$hy-color-yellowgreen-light: #edfad5;

$hy-color-lime: #d5eb00;
$hy-color-lime-dark: #aabc00;
$hy-color-lime-disabled: #e9f57f;
$hy-color-lime-light: #f7fbcc;

$hy-color-yellow: #fff420;
$hy-color-yellow-dark: #ccc21a;
$hy-color-yellow-disabled: #fff88f;
$hy-color-yellow-light: #fffdd2;

$hy-color-orangeyellow: #ffca28;
$hy-color-orangeyellow-dark: #cca220;
$hy-color-orangeyellow-disabled: #ffe493;
$hy-color-orangeyellow-light: #fff4d4;

$hy-color-orange: #ffa726;
$hy-color-orange-dark: #cc851e;
$hy-color-orange-disabled: #ffd392;
$hy-color-orange-light: #ffedd4;

$hy-color-orangered: #ff7043;
$hy-color-orangered-dark: #cc5a36;
$hy-color-orangered-disabled: #ffb7a1;
$hy-color-orangered-light: #ffe2d9;

$hy-color-brown: #914f2c;
$hy-color-brown-dark: #743f23;
$hy-color-brown-disabled: #c8a795;
$hy-color-brown-light: #e9dcd5;

$hy-color-grey: #78909c;
$hy-color-grey-dark: #5f7e8b;
$hy-color-grey-disabled: #c6d1d8;
$hy-color-grey-light: #e4e9ec;

$hy-color-gray: #aaaaaa;
$hy-color-gray-dark: #838383;
$hy-color-gray-disabled: #e6e6e6;
$hy-color-gray-light: #f8f7f8;
